/eln-cache/
/elpa/
/eshell/
/projects
/recentf
/pyim/
/transient/
/auto-save-list/
/amx-items
/.bash_history
/private-elisp/
/bookmarks
/url/
/custom.el
/network-security.data
*~undo-tree~
/.org-id-locations
/org-roam.db
/org-persist/
/.lsp-session-v1
/ellama-sessions/
/history
*.aider.*
.aider*
/leetcode-env/
/persist/
/.cache/
